<config>
    <modules>
        <Ccc_Filemanager>
            <version>1.0.1</version>
        </Ccc_Filemanager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <filemanager before="Mage_Adminhtml">Ccc_Filemanager_Adminhtml</filemanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <filemanager>
                <class>Ccc_Filemanager_Model</class>
                <resourceModel>filemanager_resource</resourceModel>
            </filemanager>
            <filemanager_resource>
                <class>Ccc_Filemanager_Model_Resource</class>
                <deprecatedNode>filemanager_mysql4</deprecatedNode>
            </filemanager_resource>
        </models>
        <resources>
            <filemanager_setup>
                <setup>
                    <module>Ccc_Filemanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filemanager_setup>
        </resources>
        <helpers>
            <filemanager>
                <class>Ccc_Filemanager_Helper</class>
            </filemanager>
        </helpers>
        <blocks>
            <filemanager>
                <class>Ccc_Filemanager_Block</class>
            </filemanager>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <filemanager>
                    <file>filemanager.xml</file>
                </filemanager>
            </updates>
        </layout>
    </adminhtml>
</config>