<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ticket>
            <version>1.1.3</version>
        </Ccc_Ticket>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ticket before="Mage_Adminhtml">Ccc_Ticket_Adminhtml</ticket>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <ticket>
                <class>Ccc_Ticket_Model</class>
                <resourceModel>ticket_resource</resourceModel>
            </ticket>
            <ticket_resource>
                <class>Ccc_Ticket_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>ticket_information</table>
                    </ticket>
                    <comment>
                        <table>ticket_comment</table>
                    </comment>
                    <status>
                        <table>ticket_status</table>
                    </status>
                    <filter>
                        <table>ticket_filter</table>
                    </filter>
                </entities>
            </ticket_resource>
        </models>
        <resources>
            <ticket_setup>
                <setup>
                    <module>Ccc_Ticket</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ticket_setup>
        </resources>
        <helpers>
            <ticket>
                <class>Ccc_Ticket_Helper</class>
            </ticket>
        </helpers>
        <blocks>
            <ticket>
                <class>Ccc_Ticket_Block</class>
            </ticket>
            <adminhtml>
                <rewrite>
                    <page_menu>Ccc_Ticket_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ticket>
                    <file>ticket.xml</file>
                </ticket>
            </updates>
        </layout>
    </adminhtml>
</config>