<config>
    <modules>
        <Ccc_Outlook>
            <version>1.0.6</version>
        </Ccc_Outlook>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <outlook>
                    <file>outlook.xml</file>
                </outlook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <first>
                <observers>
                    <outlook>
                        <class>outlook/observer</class>
                        <method>checkDispatchEvent</method>
                    </outlook>
                </observers>
            </first>
        </events>
        <models>
            <outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>outlook_resource</resourceModel>
            </outlook>
            <outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <deprecatedNode>outlook_mysql4</deprecatedNode>
                <entities>
                    <configuration>
                        <table>outlook_configuration</table>
                    </configuration>
                    <email>
                        <table>outlook_emails</table>
                    </email>
                    <attachament>
                        <table>outlook_email_attachament</table>
                    </attachament>
                    <event>
                        <table>outlook_email_event</table>
                    </event>
                </entities>
            </outlook_resource>
        </models>
        <resources>
            <outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outlook_setup>
        </resources>
        <helpers>
            <outlook>
                <class>Ccc_Outlook_Helper</class>
            </outlook>
        </helpers>
        <blocks>
            <outlook>
                <class>Ccc_Outlook_Block</class>
            </outlook>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <outlook>
                <use>standard</use>
                <args>
                    <module>Ccc_Outlook</module>
                    <frontName>outlook</frontName>
                </args>
            </outlook>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <outlook_configuration>
                <schedule>
                    <cron_expr>*/1 </cron_expr>
                </schedule>
                <run>
                    <model>outlook/observer::fetch</model>
                </run>
            </outlook_configuration>
        </jobs>
    </crontab>

</config>