<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Filetransfer>
            <version>1.1.4</version>
        </Ccc_Filetransfer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <filetransfer before="Mage_Adminhtml">Ccc_Filetransfer_Adminhtml</filetransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <filetransfer>
                <class>Ccc_Filetransfer_Model</class>
                <resourceModel>filetransfer_resource</resourceModel>
            </filetransfer>
            <filetransfer_resource>
                <class>Ccc_Filetransfer_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>filetransfer_configuration</table>
                    </configuration>
                    <file>
                        <table>filetransfer_file</table>
                    </file>
                    <part>
                        <table>master_part_numbers</table>
                    </part>
                    <newpart>
                        <table>new_part_numbers</table>
                    </newpart>
                    <dispart>
                        <table>discountinue_part_numbers</table>
                    </dispart>
                </entities>
            </filetransfer_resource>
        </models>
        <resources>
            <filetransfer_setup>
                <setup>
                    <module>Ccc_Filetransfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filetransfer_setup>
        </resources>
        <helpers>
            <filetransfer>
                <class>Ccc_Filetransfer_Helper</class>
            </filetransfer>
        </helpers>
        <blocks>
            <filetransfer>
                <class>Ccc_Filetransfer_Block</class>
            </filetransfer>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <filetransfer>
                    <file>filetransfer.xml</file>
                </filetransfer>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <filetransfer_configuration>
                <schedule>
                    <cron_expr>*/1 </cron_expr>
                </schedule>
                <run>
                    <model>filetransfer/observer::fetchfile</model>
                </run>
            </filetransfer_configuration>
            <xml_data_read>
                <schedule>
                    <cron_expr>*/1 </cron_expr>
                </schedule>
                <run>
                    <model>filetransfer/observer::fetchXmlData</model>
                </run>
            </xml_data_read>
        </jobs>
    </crontab>
</config>