<config>
    <modules>
        <Ccc_Productseller>
            <version>1.6.0.1</version>
        </Ccc_Productseller>
    </modules>
    <global>
        <helpers>
            <productseller>
                <class>Ccc_Productseller_Helper</class>
            </productseller>
        </helpers>
        <blocks>
            <productseller>
                <class>Ccc_Productseller_Block</class>
            </productseller>
            <catalog>
                <rewrite>
                    <product_view>Ccc_Productseller_Block_View</product_view>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Productseller_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <productseller>
                <class>Ccc_Productseller_Model</class>
                <resourceModel>productseller_resource</resourceModel>
            </productseller>
            <productseller_resource>
                <class>Ccc_Productseller_Model_Resource</class>
                <entities>
                    <seller>
                        <table>ccc_seller</table>
                    </seller>
                </entities>
            </productseller_resource>
        </models>
        <resources>
            <productseller_setup>
                <setup>
                    <module>Ccc_Productseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productseller_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Productseller before="Mage_adminhtml">Ccc_Productseller_Adminhtml</Ccc_Productseller>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productseller>
                    <file>productseller.xml</file>
                </productseller>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <productseller>
                    <file>productseller.xml</file>
                </productseller>
            </updates>
        </layout>
    </frontend>
</config>