<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_AdminLoginLog>
            <version>0.1.3</version>
        </Ccc_AdminLoginLog>
    </modules>
    <global>
        <models>
            <adminloginlog>
                <class>Ccc_AdminLoginLog_Model</class>
                <resourceModel>adminloginlog_resource</resourceModel>
            </adminloginlog>
            <adminloginlog_resource>
                <class>Ccc_AdminLoginLog_Model_Resource</class>
                <deprecatedNode>adminloginlog_mysql4</deprecatedNode>
                <entities>
                    <log>
                        <table>Admin_Login_Log</table>
                    </log>
                    <promotion>
                        <table>ccc_promotions</table>
                    </promotion>
                </entities>
            </adminloginlog_resource>
        </models>
        <resources>
            <adminloginlog_setup>
                <setup>
                    <module>Ccc_AdminLoginLog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminloginlog_setup>
        </resources>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <admin_login_log_observer>
                        <type>singleton</type>
                        <class>adminloginlog/observer</class>
                        <method>logAdminLogin</method>
                    </admin_login_log_observer>
                </observers>
            </admin_session_user_login_success>
            <controller_action_predispatch>
                <observers>
                    <log_all_events>
                        <class>adminloginlog/observer</class>
                        <method>logAllEvents</method>
                    </log_all_events>
                </observers>
            </controller_action_predispatch>
            <customer_register_success>
                <observers>
                    <send_admin_notification>
                        <type>singleton</type>
                        <class>yourmodule/observer</class>
                        <method>sendAdminNotification</method>
                    </send_admin_notification>
                </observers>
            </customer_register_success>
        </events>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <product>
                        <type>singleton</type>
                        <class>adminloginlog/observer</class>
                        <method>attributeAdd</method>
                    </product>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
</config>
