<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Salesman>
            <version>1.6.0.0.6</version>
        </Ccc_Salesman>
    </modules>
    <admin>
        <routers>
            <salesman>
                <use>admin</use>
                <args>
                    <module>Ccc_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </salesman>
            <adminhtml>
                <args>
                    <modules>
                        <salesman before="Mage_Adminhtml">Ccc_Salesman_Adminhtml</salesman>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <salesman>
                <class>Ccc_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Ccc_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman_metric_percentage</table>
                    </salesman>
                    <ordercommision>
                        <table>salesman_order_commision</table>
                    </ordercommision>
                    <rank>
                        <table>salesman_rank</table>
                    </rank>
                </entities>
            </salesman_resource>
            <catalog>
                <rewrite>
                    <product>Ccc_Salesman_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <salesman_setup>
                <setup>
                    <module>Ccc_Salesman</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
        </resources>
        <helpers>
            <salesman>
                <class>Ccc_Salesman_Helper</class>
            </salesman>
        </helpers>
        <blocks>
            <salesman>
                <class>Ccc_Salesman_Block</class>
            </salesman>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ccc_Salesman_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <!-- <sales_order_place_before>
                <observers>
                    <salesman>
                        <class>salesman/ordercommision_observer</class>
                        <method>checkSalesman</method>
                    </salesman>
                </observers>
            </sales_order_place_before> -->
            <salesman_save_before>
                <observers>
                    <salesman>
                        <class>salesman/ordercommision_observer</class>
                        <method>checkEvent</method>
                    </salesman>
                </observers>
            </salesman_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <salesman>
                        <class>salesman/ordercommision_observer</class>
                        <method>addOrdercommission</method>
                    </salesman>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <salesman>
                        <class>salesman/ordercommision_observer</class>
                        <method>cancelOrderCommission</method>
                    </salesman>
                </observers>
            </order_cancel_after>
            <admin_user_save_after>
                <observers>
                    <salesman>
                        <class>salesman/ordercommision_observer</class>
                        <method>newUser</method>
                    </salesman>
                </observers>
            </admin_user_save_after>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <salesman_rank_crone>
                <schedule>
                    <cron_expr>*/1 </cron_expr>
                </schedule>
                <run>
                    <model>salesman/observer::calculatetodayrank</model>
                </run>
            </salesman_rank_crone>
        </jobs>
    </crontab>
    <default>
        <catalog>
            <custom_options>
                <product>5</product>
                <shipping>5</shipping>
                <tax>5</tax>
                <is_low_seller_product>5</is_low_seller_product>
            </custom_options>
        </catalog>
    </default>
</config>