<?xml version="1.0"?>
<config>
	<tabs>
		<salesman translate="label">
			<label>Salesman</label>
			<sort_order>400</sort_order>
		</salesman>
	</tabs>
	<sections>
		<salesman translate="label" module="salesman">
			<label>Salesman</label>
			<tab>salesman</tab>
			<frontend_type>text</frontend_type>
			<sort_order>40</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<metric transalte="label">
                    <label>Metric</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product translate='label'>
                            <label>Product Percentage</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product>
                        <shipping translate='label'>
                            <label>Shipping Percentage</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping>
                        <tax translate='label'>
                            <label>Tax Percentage</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tax>
                        <low_sell_product_percentage translate='label'>
                            <label>Low Sell Product Percentage</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </low_sell_product_percentage>
                    </fields>
                </metric>
			</groups>
		</salesman>
	</sections>
</config>