<?xml version="1.0"?>
<config>
    <modules>
        <Xyz_Test>
            <version>1.6.0.3</version>
        </Xyz_Test>
    </modules>
    <frontend >
        <routers>
            <Xyz_test>
                <use>standard</use>
                <args>
                    <module>Xyz_Test</module>
                    <frontName>Xyz_test</frontName>
                </args>
            </Xyz_test>
        </routers>
    </frontend>
    <global>
        <models>
            <Xyz_test>
                <class>Xyz_Test_Model</class>
            </Xyz_test>
        </models>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <Xyz_test_attribute_copy>
                        <type>singleton</type>
                        <class>Xyz_test/observer</class>
                        <method>addCustomProductAttributes</method>
                    </Xyz_test_attribute_copy>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <resources>
            <xyz_test_setup>
                <setup>
                    <module>Xyz_Test</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xyz_test_setup>
        </resources>
    </global>
</config>