<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Mostsellingrelateditems>
            <version>1.1.1</version>
        </Ccc_Mostsellingrelateditems>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mostsellingrelateditems before="Mage_Adminhtml">Ccc_Mostsellingrelateditems_Adminhtml</Mostsellingrelateditems>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Model</class>
                <resourceModel>Mostsellingrelateditems_resource</resourceModel>
            </mostsellingrelateditems>
            <Mostsellingrelateditems_resource>
                <class>Ccc_Mostsellingrelateditems_Model_Resource</class>
                <entities>
                    <mostsellproduct>
                        <table>ccc_most_selling_related_items</table>
                    </mostsellproduct>
                </entities>
            </Mostsellingrelateditems_resource>
        </models>
        <resources>
            <Mostsellingrelateditems_setup>
                <setup>
                    <module>Ccc_Mostsellingrelateditems</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Mostsellingrelateditems_setup>
        </resources>
        <helpers>
            <Mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Helper</class>
            </Mostsellingrelateditems>
        </helpers>
        <blocks>
            <Mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Block</class>
            </Mostsellingrelateditems>
        </blocks>
        <events>
            <catalog_product_save_before>
                <observers>
                    <Mostsellingrelateditems>
                        <class>mostsellingrelateditems/observer</class>
                        <method>savemostproduct</method>
                    </Mostsellingrelateditems>
                </observers>
            </catalog_product_save_before>
            <most_sell_product_save_before>
                <observers>
                    <Mostsellingrelateditems>
                        <class>mostsellingrelateditems/observer</class>
                        <method>savemostsellproduct</method>
                    </Mostsellingrelateditems>
                </observers>
            </most_sell_product_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mostsellingrelateditems>
                    <file>mostsellingrelateditems.xml</file>
                </mostsellingrelateditems>
            </updates>
        </layout>
    </adminhtml>
</config>